[globals]
; F3 magic'leri
extlink="window.open(this.href); return false;"
AUTOLOAD="app/"
RELEASE="FALSE"
FONTS="public/fonts/"
TEMP="temp/"
GUI="gui/"

; Temel admin paneli için ayarlar
TABLEPROCESS="process"
TABLE="ondokuz"
KEY="username"

; Veritabanı[DB]   -----------------
dbname="sim"
dbuser="sim"
dbpass="12345"

; Tablolar[Tables] ------------------
TABLEINIT="ondokuz"
TABLES.ondokuz="username"
TABLES.process="id"
TABLES.people="tc"
TABLES.event="event_id"
TABLES.event="event_id"
TABLES.announcement="announcement_id"

; example :
; table.<table_name>=primary_key;

; Alanlar[Fields]  ------------------
FIELDS.id=false
FIELDS.name=true
FIELDS.tc=false
FIELDS.photo=false
FIELDS.login=false

; example :
; FIELDS.<field>=(true or false)

; Resim            -----------------
uploaddir="public/upload/"
DEFAULT_IMAGE="default.png"
